img {
    max-width: 100%;
  }
  
  .card {
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: #ffff;  
    font: "sans serif";
    border-radius: 3px 0 0 3px;
    margin: 1.5em;
  }
       .button {
         box-shadow: 1px 1px 4px 1px #888;
    border-radius: 10px;
    border: black;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }