@import url('https://fonts.google.com/?selection.family=Merriweather|Noto+Sans|Oswald');


img {
    width: 250px;
    position: center;
}



body {
    font-family: "Noto+Sans", Helvetica, sans-serif;
    font-size: 1.1em;
}

h1, h2, h3 {
    color: #9ea3b0;   
    padding: 10px;
    font-family: "Merriweather", Impactt, cursive;
   font-size: 1.1em;
    line-height: 1.1em;
    margin-bottom: .5em;
}

p {
    padding: 10px; 
     font-size: 1.1em;
    line-height: 1.4;
   }

.sec1, .sec2, .sec3 {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}